<html>
    <head>
        <title>Log in</title>
        <link rel="stylesheet" type="text/css" href="/style.css" />
    </head>
    <body>
        <h1>Log in to your account!</h1>

        <form METHOD="POST" action="/login">
            <div>
                <p>Please enter your details:</p>
                <label for="email">E-Mail:</label>
                <input type="text" name="email"/>
                <label for="password">Password:</label>
                <input type="text" name="password"/>
                <input type="submit" value="Log in"/>
            </div>
        </form>
    </body>
</html>