<html>
    <head>
        <title>Add your space!</title>
        <link rel="stylesheet" type="text/css" href="/style.css" />
    </head>
<body>
<h1>Add a new Space!</h1>

<form METHOD="POST" action="/spaces">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name"/>
        <input type="submit" value="Create Space"/>
    </div>
</form>


</body>
</html>
