<html>
    <head>
        <title>Create your account!</title>
        <link rel="stylesheet" type="text/css" href="/style.css" />
    </head>
<body>
<h1>Create your account!</h1>

<form METHOD="POST" action="/users">
    <div>
        <p>Please enter the following details to create your account for Makersbnb!</p>
        <label for="email">E-Mail:</label>
        <input type="text" name="email"/>
        <label for="password">Password:</label>
        <input type="text" name="password"/>
        <label for="email">Phone Number:</label>
        <input type="text" name="sms"/>
        <input type="submit" value="Create Account"/>
    </div>
</form>


</body>
</html>