<html>
  <head></head>
  <body>
    <h1>Space:</h1>
		<div>
        Name: <%= @space.name%><br>
        Price per night: £<%= @space.price_per_night%><br>
        <img src="<%=@space.photo_url%>" alt="Photo of the space" style="width:500px;height:600px">
        </div>
  </body>
</html>