<html>
  <head>
    <title>Spaces</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <div class="page-content">
      <h1 class="page-heading">Spaces</h1>
      <div class="spaces-listings">
        <%@spaces.each do |space|%>
          <div class="spaces-card">
            <p class="spaces-title"><%=space.name%></p> <input class="spaces-add-button" type="button" value="Book this space"/>
          </div>
        <%end%>
      </div>
    </div>
  </body>
</html>
